.header {
    height:60px;
    background:gray;
    width:100%;
    padding:5px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 36px;
    text-align:center;
    margin: -5px;
}

.button {
    border-radius: 17px;
    font-family: Georgia;
    color: #ffffff;
    width: 20%;
    font-size: 20px;
    text-decoration: none;
    text-align:center;
    background: forestgreen;
    padding: 10px 20px 10px 20px;
    margin:auto;
    margin-top:20px;
}

.button:hover {
    background: green;
    cursor:pointer;
    text-decoration: none;
}